<footer class="footer">
<div class="footer__container">
<section>

<h2 class="footer__title">Sobre</h2>
<p class="footer__about-text">Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
    Detraxit consequat et quo num tendi nada.Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, 
    </p>

</section>
<address>
<h2 class="footer__title">Contato</h2>
<ul>
<li><i class="fa-solid fa-envelope"> email@email.com</i></li>
<li><i class="fa-solid fa-phone"></i> (00)12345678</li>
<li><i class="fa-brands fa-whatsapp"></i> (00)00000000</li>
</ul>
</address>
</div>
<section class="footer__copyright">
    &copy; Todos os direitos reservados
</section>
</footer>
